<div style="background: black;">
    <div class="container">
        <div class="carousel slide" id="carousel-479315" style="width: 102.8%;left: -14.1px;">
            <ol class="carousel-indicators">
                <li data-slide-to="0" data-target="#carousel-479315" class="active">
                </li>
                <li data-slide-to="1" data-target="#carousel-479315">
                </li>
                <li data-slide-to="2" data-target="#carousel-479315">
                </li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active sliceHome">
                    <img class="d-block w-100" alt="Carousel Bootstrap one" src="./assets/imgs/sl1.jpg" />
                    <div class="carousel-caption backlegends">
                        <p style="color: grey;">
                            Sistema completamente automatizado, seguro y facil de Operar.
                        </p>
                    </div>
                </div>
                <div class="carousel-item sliceHome">
                    <img class="d-block w-100" alt="Carousel Bootstrap two" src="./assets/imgs/nosotros.jpg" />
                    <div class="carousel-caption backlegends">
                        <p style="color: grey;">
                            Solución ajustada a la medida de las necesidades del cliente y acceso desde cualquier
                            equipo.
                        </p>
                    </div>
                </div>
                <div class="carousel-item sliceHome">
                    <img class="d-block w-100" alt="Carousel Bootstrap Three" src="./assets/imgs/preguntas.jpg" />
                    <div class="carousel-caption backlegends">
                        <p style="color: grey;">
                            Posibilidad de manejo multiusuario.
                        </p>
                    </div>
                </div>
            </div> <a class="carousel-control-prev" href="#carousel-479315" data-slide="prev"><span
                    class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a
                class="carousel-control-next" href="#carousel-479315" data-slide="next"><span
                    class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
        </div>
    </div>

    <div class="container text-center" style="background: white; ">
        <div class="row ">
            <div class="infoHomeUno">
                <div class="iconHome">
                    <div><img src="../../../../assets/imgs/pantalla-completa.png" style="width: 60px;"></div>
                </div>
                <h5 style="color:royalblue">A tu medida</h5>
                <p class="ParrafHome">Tanto el precio como los requisitos legales y funcionalidades de tu SGSST en línea
                    serán de acuerdo al
                    tamaño de tu empresa o el número de tus empleados. Podrás cancelar tu suscripción cuando lo desees
                </p>
            </div>

            <div class="infoHomeDos">
                <div class="iconHome">
                    <div><img src="../../../../assets/imgs/Guard.png" style="width: 60px;"></div>
                </div>
                <h5 style="color:royalblue">Informaci&oacute;n Segura</h5>
                <p class="ParrafHome">La información de tu SGSST en línea será encriptada con los más altos estándares
                    de seguridad de las
                    plataformas Microsoft</p>
            </div>

            <div class="infoHomeTres">
                <div class="iconHome">
                    <div><img src="../../../../assets/imgs/grafico-de-lineas.png" style="width: 60px;"></div>
                </div>
                <h5 style="color:royalblue">Mejora Continua</h5>
                <p class="ParrafHome">Te permite identificar procesos, situaciones y eventos de mejora con una
                    planeación guiada y estructurada
                </p>
            </div>
        </div>
    </div>

    <div class="container videoHome">
        <div class="row">
            <div class="parrafVideo">
                <!-- Paragraph -->
                <h5>¿COMO FUNCIONAMOS?</h5>
                <br>
                <p>
                    Tanto el precio como los requisitos legales y funcionalidades de tu SGSST
                    en línea serán de acuerdo altamaño de tu empresa o el número de tus empleados.
                    Podrás cancelar tu suscripción cuando lo desees.Tanto el precio como los requisitos legales y
                    funcionalidades de tu SGSST
                    en línea serán de acuerdo altamaño de tu empresa o el número de tus empleados.
                    Podrás cancelar tu suscripción cuando lo desees
                </p>
            </div>
            <!-- Video inline -->
            <div class="youVideo">
                <div>
                    <iframe width="500" height="300" src="https://www.youtube.com/embed/-VV4CEHmQ8w" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container planesHome">
        <div class="row">
            <div style="text-align: center; margin: auto; padding: 27px 314px;">
                <h3><strong>SERVICIOS</strong></h3>
                <P>Adquiere el plan que más se acomode a tus necesidades. Adquiere el plan que más se acomode a tus
                    necesidades. JHHGSGAJK</P>
            </div>
            <div class=" planObj">
                <div class="objUnit">
                    <div>
                        <img src="./../../../../assets/imgs/planplus.jpg">
                    </div>
                    <div style="width:90%; margin:18px">
                        <h3><strong>Plan Plus</strong></h3>
                        <p style=" font-size: 16px">
                            <strong>Vive la aventura de conocer los destino que siempre anhelaste. Adquiere tu Visa personal.</strong>
                        </p>
                        <ul class="" style="list-style: none; font-size: 14px;">
                            <li><strong style="color:forestgreen">✓</strong> Cita virtual.</li>
                            <li><strong style="color:forestgreen">✓</strong>  Análisis de perfil.</li>
                            <li><strong style="color:forestgreen">✓</strong>  Diligenciamiento del formulario DS160.</li>
                            <li><strong style="color:forestgreen">✓</strong>  Creación de la cuenta en la sección consular.</li>
                        </ul>
                    </div>
                </div>
                <div class="objUnit">
                    <div>
                        <img src="./../../../../assets/imgs/planpremium.jpg">
                    </div>
                    <div style="width:90%; margin:18px">
                        <h3><strong>Plan Premium</strong></h3>
                        <p style=" font-size: 16px">
                            <strong>Vive la aventura de conocer los destino que siempre anhelaste. Adquiere tu Visa personal.</strong>
                        </p>
                        <ul class="" style="list-style: none; font-size: 14px">
                            <li><strong style="color:forestgreen">✓</strong> Cita virtual.</li>
                            <li><strong style="color:forestgreen">✓</strong>  Análisis de perfil.</li>
                            <li><strong style="color:forestgreen">✓</strong>  Diligenciamiento del formulario DS160.</li>
                            <li><strong style="color:forestgreen">✓</strong>  Creación de la cuenta en la sección consular.</li>
                        </ul>
                    </div>
                </div>
                <div class="objUnit">
                    <div>
                        <img class="imgPlanes" src="./../../../../assets/imgs/planpreferencial.jpg">
                    </div>
                    <div style="width:90%; margin:18px">
                        <h3><strong>Plan Preferencial</strong></h3>
                        <p style=" font-size: 16px">
                            <strong>Vive la aventura de conocer los destino que siempre anhelaste. Adquiere tu Visa personal.</strong>
                        </p>
                        <ul class="" style="list-style: none; font-size: 14px">
                            <li><strong style="color:forestgreen">✓</strong> Cita virtual.</li>
                            <li><strong style="color:forestgreen">✓</strong>  Análisis de perfil.</li>
                            <li><strong style="color:forestgreen">✓</strong>  Diligenciamiento del formulario DS160.</li>
                            <li><strong style="color:forestgreen">✓</strong>  Creación de la cuenta en la sección consular.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="background: white; padding: 62px 0px; height: 230px;">
        <div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel">
            <!--Slides and lightbox-->
            <div class="carousel-inner mdb-lightbox" role="listbox">
                <div id="mdb-lightbox-ui"></div>
                <!--First slide-->
                <div class=" carousel-item active text-center carrusel">
                    <figure class="col-md-3 d-md-inline-block">
                        <a>
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460149/abof.png"
                                style="width: 160px;">
                        </a>
                    </figure>
                    <figure class="col-md-3 d-md-inline-block">
                        <a>
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460224/cropped-cropped-20170720-lucuLogo-squ2-e1500543540803.png"
                                style="width: 200px;">
                        </a>
                    </figure>
                    <figure class="col-md-3 d-md-inline-block">
                        <a>
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460269/104840a62d46c05d285762857fecb61a.png"
                                style="width: 160px;">
                        </a>
                    </figure>
                    <figure class="col-md-3 d-md-inline-block">
                        <a>
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460358/client-4.png"
                                style="width: 160px;">
                        </a>
                    </figure>
                </div>
                <!--Second slide-->
                <div class="carousel-item text-center carrusel">
                    <figure class="col-md-3 d-md-inline-block">
                        <a>
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460379/client-5.png"
                                style="width: 248px;">
                        </a>
                    </figure>
                    <figure class="col-md-3 d-md-inline-block">
                        <a>
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460398/client-6.png"
                                style="width: 248px;">
                        </a>
                    </figure>
                    <figure class="col-md-3 d-md-inline-block">
                        <a>
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460418/client-7.png"
                                style="width: 248px;">
                        </a>
                    </figure>
                    <figure class="col-md-3 d-md-inline-block">
                        <a>
                            <img src="https://bootstrapmade.com/demo/themes/NewBiz/img/clients/client-8.png"
                                style="width: 248px;">
                        </a>
                    </figure>
                </div>

            </div>
        </div>
    </div>
</div>