<section class="ListService">
    <div class="container">
        <div class="block-heading">
            <h3>SERVICIOS</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                mattis vitae leo.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
        <div class="row justify-content-md-center">
            <div class="card" style="width: 23rem;padding:10px">
                <img src="assets/imgs/EjemploUno.png" class="card-img-top" alt="...">
                <h5 class="card-title">PLAN PLUS</h5>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 23rem;padding:10px">
                <img src="assets/imgs/EjemploDos.png" class="card-img-top" alt="...">
                <h5 class="card-title">PLAN PREMIUM</h5>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
            <div class="card" style="width:23rem;padding:10px">
                <img src="assets/imgs/EjemploTres.png" class="card-img-top" alt="...">
                <h5 class="card-title">PLAN PREFERNCIAL</h5>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
            <div class="block-heading">
                <h3>MEMBRESIAS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                    mattis vitae leo.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="row justify-content-md-center">

                <div class="col-md-5 col-lg-4">
                    <div class="item">
                        <div class="heading">
                            <h3>PLUS</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="precio">
                            <h4>$55.000</h4>
                        </div>
                        <div class="features">
                            <h5><span class="feature">Beneficios</span> : <span class="value">SI</span></h5>
                            <h5><span class="feature">Beneficios</span> : <span class="value">SI</span></h5>
                            <h5><span class="feature">Beneficios</span> : <span class="value">SI</span></h5>
                            <h5><span class="feature">Beneficios</span> : <span class="value">X</span></h5>
                            <h5><span class="feature">Beneficios</span> : <span class="value">X</span></h5>
                            <h5><span class="feature">Beneficios</span> : <span class="value">X</span></h5>
                        </div>
                        <a href="PaymentForm"><h4>Comprar</h4></a>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="item">
                        <div class="ribbon">Recomendado</div>
                        <div class="heading">
                            <h3>PREMIUM</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="features">
                            <div class="precio">
                                <h4>$100.000</h4>
                            </div>
                            <h5><span class="feature">Beneficios</span> : <span class="value">SI</span></h5>
                            <h5><span class="feature">Beneficios</span> : <span class="value">SI</span></h5>
                            <h5><span class="feature">Beneficios</span> : <span class="value">SI</span></h5>
                            <h5><span class="feature">Beneficios</span> : <span class="value">SI</span></h5>
                            <h5><span class="feature">Beneficios</span> : <span class="value">SI</span></h5>
                            <h5><span class="feature">Beneficios</span> : <span class="value">X</span></h5>
                        </div>
                        <a href="PaymentForm"><h4>Comprar</h4></a>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="item">
                        <div class="heading">
                            <h3>PREFERENCIAL</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="precio">
                            <h4>$250.000</h4>
                        </div>
                        <div class="features">
                            <h5><span class="feature">Beneficios</span> : <span class="value">SI</span></h5>
                            <h5><span class="feature">Beneficios</span> : <span class="value">SI</span></h5>
                            <h5><span class="feature">Beneficios</span> : <span class="value">SI</span></h5>
                            <h5><span class="feature">Beneficios</span> : <span class="value">SI</span></h5>
                            <h5><span class="feature">Beneficios</span> : <span class="value">SI</span></h5>
                            <h5><span class="feature">Beneficios</span> : <span class="value">X</span></h5>
                        </div>
                        <a href="PaymentForm"><h4>Comprar</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>
<section class="banner-1">
    <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. <a href="SelfAppraisal"> Obten la prueba gratuita </a></h4>
</section>