
  <nav class="navbar  navbar-expand-lg container-links navv" >
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#links" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pl-5" id="links">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link menu" routerLink="">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link menu" routerLink="We">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link menu" routerLink="zionsst">ZionSST</a>
              </li>
              <li class="nav-item">
                <a class="nav-link menu" routerLink="frequentQuestions">Preguntas frecuentes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link menu" routerLink="contactUs">Cont&aacute;cto</a>
              </li>
          </ul>
      </div>
  </nav>
