<div style="background: black;">
  <div class="container contImg">
    <div class="textImg">
      <h1 style="font-weight: bold;font-size: 90px;text-shadow:0px 0px 7px rgba(0,0,0,0.65);">PREGUNTAS</h1>
      <h1 style="font-size: 40px;text-shadow:0px 0px 7px rgba(0,0,0,0.65);">Frecuentes</h1>
    </div>
  </div>
  <div class="container contInfo">
    <div class="row">
      <div class="cont-qst">
        <div id="card-336888" style="margin: auto;">
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-1">
                1. Como se define el nivel de riesgo que corresponde a cada empresa?</a>
            </div>
            <div id="card-1" class="collapse">
              <div class="card-body">
                <p>
                  El nivel de riesgo se define de acuerdo al tipo de actividad productiva que ejerza la
                  empresa, existen 5 niveles de riesgo.
                </p>
                <table class="table table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th>Clase</th>
                      <th>Riesgo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Clase I</td>
                      <td>Riesgo m&iacute;nimo</td>
                    </tr>
                    <tr>
                      <td>Clase II</td>
                      <td>Riesgo bajo</td>
                    </tr>
                    <tr>
                      <td>Clase III</td>
                      <td>Riesgo medio</td>
                    </tr>
                    <tr>
                      <td>Clase IV</td>
                      <td>Riesgo alto</td>
                    </tr>
                    <tr>
                      <td>Clase V</td>
                      <td>Riesgo m&aacute;ximo</td>
                    </tr>
                  </tbody>
                </table>
                <p>
                  Se puede presentar la situaci&oacute;n que una empresa genere mas de una actividad
                  productiva, as&iacute; mismo esta obtendr&aacute; varios niveles de riesgo.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-2">
                2. Que significa SG-SST?</a>
            </div>
            <div id="card-2" class="collapse">
              <div class="card-body">
                <p>Sistema de Gesti&oacute;n de Seguridad y Salud en el Trabajo.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-3">
                3. Cuales son las leyes que definen el SG-SST?</a>
            </div>
            <div id="card-3" class="collapse">
              <div class="card-body">
                <p>
                  La Ley 1562 del 11 de julio de 2012 Art 1, estableci&oacute; que el programa de salud
                  ocupacional se entender&aacute; como el Sistema de Gesti&oacute;n de la Seguridad y Salud en
                  el Trabajo (SG-SST).
                </p>
                <p>
                  El Decreto 1072 de 2015 define las directrices de obligatorio cumplimiento para implementar
                  el Sistema de Gesti&oacute;n de la Seguridad y Salud en el Trabajo (SG-SST).
                </p>
                <p>
                  De igual forma la Resoluci&oacute;n 0312 de 2019, define los est&aacute;ndares m&iacute;nimos del
                  SG-SST para
                  las personas naturales y jurídicas de obligatorio cumplimiento, mediante los cuales se
                  establecen, verifican y controlan las condiciones b&aacute;sicas para el funcionamiento ejercicio
                  y desarrollo de las actividades del SG-SST.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-4">
                4. Cuales empresas y de que tipo estan obligadas a cumplir con esta Ley?</a>
            </div>
            <div id="card-4" class="collapse">
              <div class="card-body">
                <p>
                  Aplicada a todos los empleadores p&uacute;blicos y privados, los contratantes de personal bajo
                  modalidad de contrato civil, comercial o administrativo, las organizaciones de econom&iacute;a
                  solidaria y del sector cooperativo, las empresas de servicios temporales y tener cobertura
                  sobre los trabajadores dependientes, contratistas, trabajadores cooperados y los trabajadores
                  en misi&oacute;n.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-5">
                5. Cada cuanto verifican el cumplimiento del SG-SST?</a>
            </div>
            <div id="card-5" class="collapse">
              <div class="card-body">
                <p>
                  Se debe revisar m&iacute;nimo una vez al año.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-6">
                6. Quien tiene a cargo la verificaci&oacute;n del cumplimiento de SG-SST?</a>
            </div>
            <div id="card-6" class="collapse">
              <div class="card-body">
                <p>
                  Para la verificación se debe tener la participación del Comit&eacute; Paritario o Vig&iacute;a de
                  Seguridad y Salud en el Trabajo, as&iacute; mismo, con la alta direcci&oacute;n de la empresa.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-7">
                7. Que sanciones tendria el incumplimiento parcial o total del SG-SST?</a>
            </div>
            <div id="card-7" class="collapse">
              <div class="card-body">
                <p>
                  El Decreto 472 de 2015, establece las multas y sanciones para quienes incumplan el SG-SST
                  las cuales dependen del tamaño de la empresa.
                </p>
                <h5>Microempresa:</h5>
                <p>
                  • Por incumplimiento de las normas de salud ocupacional: de 1 a 5 SMMLV
                </p>
                <p>
                  • Por incumplimiento en el reporte de accidente o enfermedad laboral: de 1 a 20 SMMLV
                </p>
                <p>
                  • Por incumplimiento que dé origen a un accidente mortal: de 20 a 24 SMMLV
                </p>
                <h5>Pequeña empresa:</h5>
                <p>
                  • Por incumplimiento de las normas de salud ocupacional: de 6 a 20 SMMLV
                </p>
                <p>
                  • Por incumplimiento en el reporte de accidente o enfermedad laboral: de 21 a 50 SMMLV
                </p>
                <p>
                  • Por incumplimiento que d&eacute; origen a un accidente mortal: de 25 a 150 SMMLV
                </p>
                <h5>Mediana empresa:</h5>
                <p>
                  • Por incumplimiento de las normas de salud ocupacional: de 21 a 100 SMMLV
                </p>
                <p>
                  • Por incumplimiento en el reporte de accidente o enfermedad laboral: de 51 a 100 SMMLV
                </p>
                <p>
                  • Por incumplimiento que d&eacute; origen a un accidente mortal: de 151 a 400 SMMLV
                </p>
                <h5>Gran empresa:</h5>
                <p>
                  • Por incumplimiento de las normas de salud ocupacional: de 101 a 500 SMMLV
                </p>
                <p>
                  • Por incumplimiento en el reporte de accidente o enfermedad laboral: de 101 a 1.000 SMMLV
                </p>
                <p>
                  • Por incumplimiento que d&eacute; origen a un accidente mortal: de 401 a 1.000 SMMLV
                </p>
                <h5>Al trabajador:</h5>
                <p>
                  El incumplimiento por parte del trabajador faculta al empleador para la
                  terminaci&oacute;n del v&iacute;nculo o relaci&oacute;n laboral por justa causa, tanto para los
                  trabajadores privados como para los servidores p&uacute;blicos, previa autorizaci&oacute;n del
                  Ministerio de Trabajo y Seguridad Social.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-8">
                8. Por qu&eacute; es importante tener un SG-SST para las empresas y para los empleados?</a>
            </div>
            <div id="card-8" class="collapse">
              <div class="card-body">
                <p>
                  La empresa debe identificar la normatividad aplicable del sistema general de riesgos
                  laborales quedando plasmada en la matriz legal, la cual se debe actualizar en la medida
                  que sean emitidas nuevas disposiciones aplicables a la empresa de acuerdo con sus
                  actividades propias e inherentes de su productiva. Esto permite que la organización
                  conozca los riesgos a los que se pueden encontrar expuestos y de esa forma implementar
                  estrategias de mejora y control sobre el entorno laboral.
                </p>
                <p>
                  En cuanto a los empleados atribuye la practica en su actividad laboral de forma
                  adecuada con las respectivas normas y mecanismos de protecci&oacute;n, as&iacute; mismo les otorga
                  voz y voto para la mejora de la organizaci&oacute;n e implementaci&oacute;n del SG-SST.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-9">
                9. Qu&eacute; tipo de actividades y/o de empleados est&aacute;n cobijados por el SG-SST?</a>
            </div>
            <div id="card-9" class="collapse">
              <div class="card-body">
                <p>
                  Dentro del SG-SST se encuentran cobijados todos los colaboradores en una empresa los
                  contratistas y proveedores al igual que los trabajadores. De acuerdo con las actividades
                  se encuentran las rutinarias y no rutinarias y las tareas de alto riesgo como exposici&oacute;n
                  en altas temperaturas, trabajos en alturas, sustancias qu&iacute;micas, radiaciones ionizantes,
                  miner&iacute;a y exposiciones a ruidos muy elevados durante un tiempo muy prolongado, entre
                  otras.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-10">
                10. Basados en esta Ley, que se debe hacer cuando un empleado se accidente en el trabajo?</a>
            </div>
            <div id="card-10" class="collapse">
              <div class="card-body">
                <p>
                  Todo accidente que ocurra dentro de las instalaciones de la empresa a cualquier
                  funcionario deber&aacute; ser informado por el empleador a la entidad administradora de
                  riesgos profesionales y a la entidad promotora de salud dentro de las 48 horas h&aacute;biles
                  desde que haya ocurrido el accidente.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-11">
                11. Cu&aacute;l es la responsabilidad de las ARL?</a>
            </div>
            <div id="card-11" class="collapse">
              <div class="card-body">
                <p>
                  Deber&aacute;n realizar capacitaciones al Comit&eacute; Paritario o Vig&iacute;a de Seguridad y
                  Salud en el
                  Trabajo COPASST o Vigía en Seguridad y Salud en el Trabajo en los aspectos relativos
                  al SG-SST y prestar&aacute;n asesor&iacute;a y asistencia t&eacute;cnica a sus empresas y
                  trabajadores
                  afiliados.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-12">
                12. Que significa PHVA?</a>
            </div>
            <div id="card-12" class="collapse">
              <div class="card-body">
                <p>
                  • Planificar: planificar la forma de mejorar la seguridad y salud de los
                  trabajadores.
                </p>
                <p>
                  • Hacer: Implementaci&oacute;n de las medidas planificadas.
                </p>
                <p>
                  • Verificar: Revisar que los procedimientos y acciones implementados est&aacute;n
                  consiguiendo los resultados deseados.
                </p>
                <p>
                  • Actuar: Realizar acciones de mejora para obtener los mayores beneficios en la
                  seguridad y salud de los trabajadores.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-13">
                13. Si un empleado se accidenta en vacaciones, quien debe responder?</a>
            </div>
            <div id="card-13" class="collapse">
              <div class="card-body">
                xxxxxxxxxxxxxxxxxxxxxxxxxxxx...
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-14">
                14. Que se debe hacer si la norma se cumple parcialmente y ocurre un incidente a un empleado?</a>
            </div>
            <div id="card-14" class="collapse">
              <div class="card-body">
                <p>
                  Se buscará la metodolog&iacute;a de investigaci&oacute;n de incidentes que m&aacute;s se ajuste a
                  las
                  necesidades y requerimiento de acuerdo con su actividad, se debe contar con la
                  participaci&oacute;n del jefe inmediato o supervisor del trabajador accidentado, un
                  representante del Comit&eacute; Paritario de Salud Ocupacional o el Vig&iacute;a Ocupacional y
                  estudiando detalladamente lo sucedido en el incidente se podr&aacute; determinar las causas y
                  establecer las medidas correctivas del caso e implementar las mejoras en el &aacute;rea laboral.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-15">
                15. Que se debe hacer si no se puede actualizar la informaci&oacute;n en la plataforma de
                Zion-SST?</a>
            </div>
            <div id="card-15" class="collapse">
              <div class="card-body">
                xxxxxxxxxxxxxxxxxxxxxxxxxxxx...
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-16">
                16. Cuanto tiempo se demora el diagnostico de una empresa para implmentar el SG-SST?</a>
            </div>
            <div id="card-16" class="collapse">
              <div class="card-body">
                xxxxxxxxxxxxxxxxxxxxxxxxxxxx...
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-17">
                17. Cual es el proceso que debe seguir una empresa que desee cumplir el SG-SST?</a>
            </div>
            <div id="card-17" class="collapse">
              <div class="card-body">
                <p>
                  Este proceso se encuentra conformado por una serie de etapas con el fin de obtener la
                  mejora continua en la organizaci&oacute;n, las etapas que se deben presentar con: la
                  planificaci&oacute;n, aplicaci&oacute;n, la evaluaci&oacute;n, la auditor&iacute;a y las acciones de
                  mejora teniendo
                  como objetivo principal anticipar, reconocer, evaluar y controlar los riesgos que puedan
                  afectar la seguridad y la salud en el trabajo.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background:#4870B8;">
              <a class="collapsed" style="color:white" data-toggle="collapse" data-parent="#card-336888" href="#card-18">
                18. ¿C&uacute;les son las fases establecidas por el Ministerio de Trabajo para el diseño e
                implementaci&oacute;n del SG-SST?</a>
            </div>
            <div id="card-18" class="collapse">
              <div class="card-body">
                <img src="assets/imgs/FasesSST.jpg" width="500" height="500" alt="fases sst">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>