<div style="background: black;">
	<div class="container contImg">
		<div class="textImg">
			<h1 style="font-weight: bold;font-size: 90px;text-shadow:0px 0px 7px rgba(0,0,0,0.65);">NOSOTROS</h1>
			<h1 style="font-size: 40px;text-shadow:0px 0px 7px rgba(0,0,0,0.65);">Conocenos</h1>
		</div>
	</div>

	<div class="container contInfo">
		<div class="row">
			<div class="objUno">
				<p class=""><a routerLink="/">Zion Businnes Group</a> es el producto
					de
					la asociación de un grupo de profesionales con mas de 30 años de experiencia en
					Innovación, Desarrollo y Comercialización de soluciones integrales para el mercado
					de
					medios de pago y sistemas de información transaccional en el sector financiero,
					muchos
					de ellos hoy utilizados y reconocidos en todo el país.
				</p>
			</div>
			<div class="objUno">
				<img style="width: 430px;height: 257px;" src="./assets/imgs/seguridad800.jpg" />
			</div>
		</div>
	</div>

	<div class="container" style="background: whitesmoke;">
		<div class="row">
			<div class="objUno">
				<div class=""></div>
				<img style="width: 430px;height: 257px;" alt="" src="../../../../assets/imgs/seguridad810.jpg" />
			</div>
			<div class="objUno">
				<p class="spacingtop">
					Hoy <a routerLink="/">Zion Businnes Group</a> ha llevado al mercado gran variedad de
					soluciones que la destacan como una compañía dinámica, flexible y diversificada, que
					se
					adapta a las necesidades de los clientes.
				</p>
			</div>
		</div>
	</div>


	<div class="container contInfo">
		<div class="row">
			<div class="objUno">
				<p class="spacingtop">
					Gracias al amplio conocimiento y capacidad de emprendimiento, se crea la nueva
					división
					Zion SST, con la misma filosofía de innovación y servicio para facilitar a nuestros
					clientes la operación y cumplimiento de normas legales sobre Seguridad y Salud en el
					Trabajo.
				</p>
			</div>
			<div class="objUno">
				<img style="width: 430px;height: 257px;" src="./assets/imgs/seguridad880.jpg" />
			</div>
		</div>
	</div>
	<div class="container contInfo">
		<div class="row people">
			<div class="unitPeople">
				<div>
					<img src="../../../../assets/imgs/silueta.png" width="200px" alt="">
				</div>
				<div style="margin-top: 30px;">
					<h4><span>lorem impus dolor</span></h4>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi aliquam sint vel odio, obcaecati
						quas assumenda dolore recusandae quae fugit repellendus magni sequi totam dignissimos suscipit
						non ad eius tenetur.</p>
					<a href="">LINKEDIN</a>
				</div>
			</div>
			<div class="unitPeople">
				<div>
					<img src="../../../../assets/imgs/silueta.png" width="200px" alt="">
				</div>
				<div style="margin-top: 30px;">
					<h4><span>lorem impus dolor</span></h4>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi aliquam sint vel odio, obcaecati
						quas assumenda dolore recusandae quae fugit repellendus magni sequi totam dignissimos suscipit
						non ad eius tenetur.</p>
					<a href="">LINKEDIN</a>
				</div>
			</div>
			<div class="unitPeople">
				<div>
					<img src="../../../../assets/imgs/silueta.png" width="200px" alt="">
				</div>
				<div style="margin-top: 30px;">
					<h4><span>lorem impus dolor</span></h4>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi aliquam sint vel odio, obcaecati
						quas assumenda dolore recusandae quae fugit repellendus magni sequi totam dignissimos suscipit
						non ad eius tenetur.</p>
					<a href="">LINKEDIN</a>
				</div>
			</div>
			<div class="unitPeople">
				<div>
					<img src="../../../../assets/imgs/silueta.png" width="200px" alt="">
				</div>
				<div style="margin-top: 30px;">
					<h4><span>lorem impus dolor</span></h4>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi aliquam sint vel odio, obcaecati
						quas assumenda dolore recusandae quae fugit repellendus magni sequi totam dignissimos suscipit
						non ad eius tenetur.</p>
					<a href="">LINKEDIN</a>
				</div>
			</div>
		</div>
	</div>

</div>