<div style="background: black;">
    <div class="container contImg">
        <div class="textImg">
            <h1 style="font-weight: bold;font-size: 90px;text-shadow:0px 0px 7px rgba(0,0,0,0.65);">ZIONSST</h1>
            <h1 style="font-size: 40px;text-shadow:0px 0px 7px rgba(0,0,0,0.65);">Seguridad y Salud en el Trabajo</h1>
        </div>
    </div>

    <div class="container pt-3" style="background: white;">
        <div class="row">
            <div class="ttSGzion">
                <div class="">
                    <h3 style="color: black; font-weight: bold;">Sistema de Gestión</h3>
                    <p>
                        La solución ZION SST es una moderna y funcional plataforma automatizada que permite el
                        diagnostico, implementación y mantenimiento del Sistema de Gestión de Seguridad y Salud
                        en
                        el
                        Trabajo
                    </p>
                </div>

                <div class="row">
                    <div class="objList">
                        <h5 style="color: black; font-weight: bold;">ZionSST es la mejor opción </h5>
                        <ul style="font-size:14px;">
                            <li class="list-item">Sistema completamente automatizado y seguro.</li>
                            <li class="list-item">Solución ajustada a la medida de las necesidades del
                                cliente.</li>
                            <li class="list-item">Acceso desde cualquier equipo.</li>
                            <li class="list-item">Posibilidad de manejo multiusuario.</li>
                            <li class="list-item">Facilidad de Operación.</li>
                            <li class="list-item">Sistema de Alertamiento.</li>
                            <li class="list-item">Asesoría y Servicio permanente.</li>
                        </ul>
                    </div>
                    <div class="objList">
                        <h5 style="color: black; font-weight: bold;">Módulos que ofrece Zion SST</h5>
                        <ul style="font-size:14px;">
                            <li class="list-item">Gestor Documental.</li>
                            <li class="list-item">Gestor de Contactos.</li>
                            <li class="list-item">Gestión de Personas en SST.</li>
                            <li class="list-item">Administración.</li>
                            <li class="list-item">Comunicación Interna.</li>
                            <li class="list-item">Copias de Seguridad.</li>
                            <li class="list-item">Gestión Cuentas de Usuario.</li>
                            <li class="list-item">Accesos.</li>
                            <li class="list-item">Gestión de Reportes.</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <!-- <div class="row cutline">
                            <div class="orangeback">
                                <p class="textcool">
                                    Solicite Ya Su Cotización y compruebe por que <span
                                        style="font-weight:600; color:rgb(0, 81, 255); text-shadow:0px 0px 6px #fff;">ZION
                                        SST</span> es su aliado en Salud y Seguridad en el Trabajo
                                </p>
                            </div> 
                             <div class="">
                                <span><a routerLink="/contactUs"><img src="./assets/imgs/Imagen1.png" width="120"
                                            alt="redirect-icon"></a></span>
                            </div>
                        </div> -->

                <div class="boxPDf">                    
                    <a href="assets/Res0312_2019.pdf">
                        <span>
                            <i class="far fa-file-pdf" style="font-size: 24px;"> </i>
                        </span>
                        <span> Descarga nuestra Resoluci&oacute;n 0312 </span>
                    </a>
                </div>

            </div>

            <div class="col-md-4 softgray">
                <img class="justimage" alt="Bootstrap Image Preview"
                    src="../../../../assets/imgs/señalizacion001.jpg" />

                <p class="spacingtop">
                    En el año XXXX el Gobierno Nacional a través del Ministerio del Trabajo expidió el Decreto
                    XXX y
                    posteriores ajustes con el fin de exigir a las empresas de todo tipo, garantizar la
                    seguridad y
                    mantener la salud de los trabajadores contratados.
                </p>
                <hr>
                <p>

                </p><img class="justimage" alt="Bootstrap Image Preview"
                    src="../../../../assets/imgs/señalizacion010.jpg" />

                <p class="spacingtop">
                    Para cumplir con la norma, se deben implementar una serie de medidas, controles y
                    procedimientos
                    que se deben mantener actualizados en el tiempo, puesto que se realizara la verificación
                    anual
                    sobre el cumplimiento del Sistema.
                </p>
                <hr>
                <p>

                </p><img class="justimage" alt="Bootstrap Image Preview" src="./assets/imgs/señalizacion020.jpg" />
                <p class="spacingtop">
                    La norma quedo ligada al alcance de coberturas de las Administradoras de Riesgos Laborales –
                    ARL, de manera que si una compañía no cumple con los mínimos exigidos en Seguridad y Salud
                    en el
                    Trabajo, además de ser sancionada, en caso de accidentes, indemnizaciones y demás, las ARL
                    no
                    tendrán cobertura y serán las empresas las encargadas de responder al 100% con los gastos
                    que el
                    empleado afectado ocasione, poniendo así en riesgo su estabilidad financiera.
                </p>
            </div>


        </div>
    </div>

</div>